body {
    font-family: Arial, sans-serif;
    background-image: url('background.webp');
    background-size: cover; /* or initial, this will be overridden by JavaScript */
    color: white;
    text-align: center;
}

#musicControls {
    position: fixed;
    top: 50px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#title {
    margin-top: 20px; /* Ensure it has some space from the top */
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#game {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    z-index: 1;
}

.progress-fill {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.5s;
    z-index: 2;
}

/* Mobile devices */
@media (max-width: 768px) {
    #musicControls {
        top: 60px; /* Adjust to make sure it's below the title */
    }
    #title {
        margin-top: 40px; /* Adjust to create space for controls */
    }
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

#upgrades, #achievements {
    margin-top: 20px;
}

#planetList img.planet-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

#planetList p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #ddd;
}